@using ChefsDishes.Models
@model Chef
    <h1><a href="/">Chefs</a> | <a href="/Dishes">Dishes</a></h1>
    <a href="/AddChef">Add a new Chef!</a>
    <h2>Check our roster of Chefs!</h2>
    <p>____________________________________________________________________________________________________________________________________________________</p>
    <table class="table col-sm-8 mx-auto">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col"># of Dishes</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Chef chef in  @ViewBag.allchefs)
            {
                <tr>
                    <td>@chef.First_Name</td>
                    <td>@chef.Last_Name</td>
                    <td>@chef.Age</td>
                    <td>@chef.Dishes.Count</td>
                </tr>
            }
            <tr>
        <th scope="row"></th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

